<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Jefes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterBosses()"
    placeholder="Buscar jefe...">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let boss of filteredBosses">
      <ion-thumbnail slot="start">
        <img [src]="boss.image" alt="Boss Image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ boss.name }}</h2>
        <p>{{ boss.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
